{
    "app_name": "Qtum Electrum",
    "github_project": "qtumproject/qtum-electrum",
    "github_token": "xxx",
    "db_engine": "mysql",
    "db_name": "crashhub",
    "db_host": "db",
    "db_port": "3306",
    "db_user": "root",
    "db_password": "123456"
}
